[Unit]
Description=GitHub Webhook listener and processor
After=multi-user.target

[Service]
Type=forking

WorkingDirectory=/var/lib/webhook
ExecStart=/bin/bash server.sh start
ExecStop=/bin/bash server.sh stop
KillMode=process

[Install]
WantedBy=multi-user.target
